@using Syncfusion.EJ2
@model HomeViewModel

<style>
    body {
         background-image: url("../images2/background.jpg");
    }
</style>

<div class=container-home>
    <div class="about">
        <h1 class="h1Home">Dental products</h1>
        <h1 class="h1Home">for clinics & salons</h1>

        <h4>We sell all sorts accessories for your dental clinic</h4>
        <h4>Our prodcts are both quality assured and developed according to market guidlines.</h4>

    </div>

    <div class="content-button">
            <div>

            <a class="buttonFrontPage" asp-controller="Product" asp-action="List" type="button">
                    <span class="spanButton"></span>OUR INVENTORY

            </a>

           </div>
    </div>
</div>





@*<div class="Sale-content">

    <h2>Product On Sale</h2>


    <div class="row">
        @foreach (var Product in Model.ProductOnSale)
        {
            <partial name="_ProductCard" model="Product" />
        }
    </div>

</div>*@


