@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>

    <a asp-action="OrderList">OrderList</a>
</p>

<p>
    <a asp-action="ManageProducts">Manage Products</a>
</p>

<p>
    <a asp-action="Dashboard">Dashboard of orders</a>
</p>

<p>
    <a asp-controller="Role" asp-action="Index">Manage Roles</a>
</p>


