<table class="table">
    <thead>
        <tr>
            <th>Employee name</th>
            <th>Title</th>
            <th>Salary</th>

        </tr>
    </thead>
    <tbody>


        <tr>
            <td>TEST</td>
            <td>TEST2</td>
            <td>TEST3</td>

        </tr>

        <tr>
            <td>TEST</td>
            <td>TEST2</td>
            <td>TEST3</td>


        </tr>

        <tr>
            <td>TEST</td>
            <td>TEST2</td>
            <td>TEST3</td>


        </tr>

        <tr>
            <td>TEST</td>
            <td>TEST2</td>
            <td>TEST3</td>


        </tr>

    </tbody>
</table>