
<style>
    body {
        background-color: #f5f5f5;
    }
</style>

<div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-user'></i>
        <span class="logo_name">ToothFairy</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#" class="active">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a asp-action="ManageProducts">
                <i class='bx bx-box'></i>
                <span class="links_name">Product</span>
            </a>
        </li>
        <li>
            <a asp-controller="Admin"
               asp-action="OrderList">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">Order list</span>
            </a>
        </li>
        <li>
            <a asp-controller="Admin"
               asp-action="Stock">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Stock</span>
            </a>
        </li>
        <li>
            <a asp-action="TotalSales">
                <i class='bx bx-book-alt'></i>
                <span class="links_name">Total sales</span>
            </a>
        </li>
        <li>
            <a asp-action="Team" class="active">
                <i class='bx bx-user'></i>
                <span class="links_name">Team</span>
            </a>
        </li>
        @* <li>
        <a href="#">
        <i class='bx bx-message'></i>
        <span class="links_name">Messages</span>
        </a>
        </li>
        <li>
        <a href="#">
        <i class='bx bx-heart'></i>
        <span class="links_name">Favrorites</span>
        </a>
        </li>
        <li>
        <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Setting</span>
        </a>
        </li>*@
    </ul>
</div>
<section class="home-section">


    <table class="table">
        <thead>
            <tr>
                <th>Employee name</th>
                <th>Title</th>
                <th>Salary</th>

            </tr>
        </thead>
        <tbody>


            <tr>
                <td>
                    Fannie Persson
                </td>
                <td>
                    Pharmaceutical Engineer
                </td>
                <td>
                    10 000 000
                </td>

            </tr>

            <tr>
                <td>
                    Daniel Gyrén
                </td>
                <td>
                    Operations Director
                </td>
                <td>
                    5 000 000
                </td>

            </tr>

            <tr>
                <td>
                    TEST
                </td>
                <td>
                    TEST2
                </td>
                <td>
                    TEST3
                </td>

            </tr>

            <tr>
                <td>
                    TEST
                </td>
                <td>
                    TEST2
                </td>
                <td>
                    TEST3
                </td>

            </tr>

        </tbody>
    </table>
</section>
