@model ProductListViewModel

<div class="container-products">

    <h1 class="section-header">@Model.CurrentCategory</h1>
    <hr />
    @foreach (var product in Model.Products)
    {
        <partial name="_Productcard" model="product" />
    }
</div>
