@model ProductListViewModel



          <h2>@Model.CurrentCategory</h2>
        @foreach (var product in Model.Products)
        {
           <partial name="_Productcard" model="product" />
        }