@model UsedCurrency

@{
    ViewData["Title"] = "UsedCurrency";
}
<h1 class="bg-info text-white">Exchange</h1>

<table class="table table-sm table-bordered table-bordered">
    <tr><th>Currency Name: @Model.CurName</th><th>Currency value in SEK: @Model.CurValue</th></tr>


  

</table>